.Rproj.user
.Rhistory
.RData
.httr-oauth
data/backups
data/author_data/author_data*.csv
data/spatial/huc6_df.csv
R copy/
R/*_cache/
R/*_files/
coding_for_content_version_control/
wos_recs_version_control/
R/*.Rproj
.Renviron
results/topics_used.csv
R/old/*_cache
