.Rproj.user
.Rhistory
.RData
.httr-oauth
data/
R copy/
R/*_cache/
R/*_files/
coding_for_content_version_control/
wos_recs_version_control/
R/*.Rproj
.Renviron
results/tabular
results/topics_used.csv
R/old/*_cache
